.mainContainer {
    height: 100%;
}

.MuiGridItem {
    height: 100%;
}

.MuiGridItemTop {
    max-height: 10% !important;
}

.MuiGridItemMiddle {
    max-height: 85% !important;
}

.MuiGridItemBottom {
    height: fit-content;
}

@media only screen and (max-width: 900px) {
    .MuiGridItem,
    .MuiGridItemTop,
    .MuiGridItemMiddle,
    .MuiGridItemBottom {
        height: fit-content !important;
        max-height: fit-content !important;
    }
}
